{% extends 'main.html' %}
{% block content %}
<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <a class="backButton" href="{% url 'inbox' %}"><i class="im im-angle-left"></i></a>
      <h2 class="message__subject">{{message.subject}}</h4>

        {% if message.sender %}
        <a href="{% url 'profile' message.sender.uuid %}" class="message__author">{{message.name}}</a>
        {% else %}
        
        <p class="message__author">{{message.name}}, {{message.email}}</p>

        <div class="alert alert--error">
          <p class="alert__message">
            The sender wasn't authorized. 
            <br /> 
            <br />
            You can contact him via Email only.
            </p>
          <button class="alert__close">⨯</button>
        </div>
        {% endif %}

        <p class="message__date">{{message.created_date}}</p>
        <div class="message__body">
          {{message.body|linebreaksbr}}
        </div>
    </div>
  </div>
</main>
{% endblock content %}